
b{
    color: red;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: skew(6);
    position: fixed;
    }
    
    i{
        font-family:'Courier New', Courier, monospace;
        border-bottom-left-radius: 4px;
    
    }
    div{
        font-weight: bold;
        color: green;
        margin: 10 px;
        font-size: 300;
    }
    
    *{
        transition: all 2s;
    }
    
    body{
        background:lightpink;
        height: 2000px;
    
    }